$color-primary: #ff8300;
$color-secondary: #4b4b4b;

$color-status-red: red;
$color-white: #fff;

$lightest-grey: #f6fafc;
$light-grey: #bfbfbf;

$font-color: $color-secondary;
$border-color: $light-grey;
